<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Page</title>
</head>
<body>
  
    <%- include('../partials/_navbar.ejs') %> 

    <h1>Edit: <%= post.title %> </h1>

     <form action="/posts/<%= post._id %>?_method=PUT" method="post">
        
        <label for="title">Title: </label>
        <input type="text" name="title" id="title" value="<%= post.title %>" required>

         <label for="imageurl">Image Url: </label>
        <input type="url
        " name="imageurl" id="imageurl" value="<%= post.imageurl %>">

         <label for="content">Content: </label>
        <textarea type="text" name="content" id="content" required><%= post.content %></textarea>

         <label for="model">Model: </label>
        <input type="text" name="model" id="model" value="<%= post.model %>" required>


        <label for="brand">Brand: </label>
        <input type="text" name="brand" id="brand" value="<%= post.brand %>" required>

        <label for="year">Year: </label>
        <input type="number" name="year" id="year" value="<%= post.year %>" required>
        

        <button type="submit">Edit</button>
        

    </form>
    
</body>
</html>