<!DOCTYPE html>
<html lang="en">
<head>
   <%- include('../partials/_header.ejs', { title: "All Posts" }) %>
</head>
<body>
  
   <%- include('../partials/_navbar.ejs') %>   

    <main class="container">
  <h1>All Posts</h1>
   
  <ul class="posts-list">
    <% posts.forEach((post)=>  { %>

    <li>

     <a href="/posts/<%= post._id %>" class="post-link">

        <% if (post.imageurl) { %>
          <img
            src="<%= post.imageurl %>"
            alt="<%= post.brand %> <%= post.model %> image"
          />
        <% } %>

        <span class="post-title"><%= post.title %></span>

      </a>

    </li>
    <% }) %>
    
  </ul>

  </main>
   
        <%- include('../partials/_footer.ejs') %>

  
</body>
</html>