<!DOCTYPE html>
<html lang="en">
<head>
   <%- include('../partials/_header.ejs', { title: "All Posts" }) %>
</head>
<body>
  
   <%- include('../partials/_navbar.ejs') %>   

    <main class="container">
  <h1>All Posts</h1>
   
  <ul>
    <% posts.forEach((post)=>  { %>

    <li>
    
      <% if (post.imageurl) { %>
      <img src="<%= post.imageurl %>"alt="<%= post.brand %> <%= post.model %> image" />
      <% } %>
      
        <a href="/posts/<%= post._id %>"> <%= post.title %> </a>
    
    </li>

    <%  }) %>
  </ul>

  </main>
   
        <%- include('../partials/_footer.ejs') %>

  
</body>
</html>