<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>

    <%- include('../partials/_navbar.ejs') %> 

    <h1>Title: <%= post.title %></h1>
     
    <p>Content: <%= post.content %></p>

    <p>model: <%= post.model %></p>

    <p>Brand: <%= post.brand %></p>

    <p>Year: <%= post.year %></p>

    
</body>
</html>