<!DOCTYPE html>
<html lang="en">
<head>

    <%- include('../partials/_header.ejs', { title: post.title  }) %>

</head>
<body>

    <%- include('../partials/_navbar.ejs') %> 
    
     <main class="container">
    <h1>Title: <%= post.title %></h1>

    <% if (post.imageurl) { %>
  <img class="post-show-image" src="<%= post.imageurl %>" alt="<%= post.brand %> <%= post.model %> image"/>
   <% } %>

    <p><%= post.content %></p>

    <p>model: <%= post.model %></p>

    <p>Brand: <%= post.brand %></p>

    <p>Year: <%= post.year %></p>

    <h2> Author: <%= post.author.username %></h2>

    <% if(post.author._id.equals(user._id)) {%>

        <form action="/posts/<%= post._id %>?_method=DELETE" method="post">

            <button type="submit">Delete</button>

        </form>

        <a class="button button-outline" href="/posts/<%= post._id %>/edit">Edit Post</a>

    <% } %>    

    <h3>Comments:</h3>
    <% post.comments.forEach(comment => { %>

    <div class="comments">

    <div class="comment-author">
     <strong><%= comment.author.username %>:</strong>  
    </div>
    
    <div class="comment-body">
      <span> <%= comment.text %> </span>
    </div>


      <% if(comment.author._id.equals(user._id)|| post.author._id.equals(user._id)) {%> 
           
        <div class="comment-action">
        <form action="/posts/<%= post._id %>/comments/<%= comment._id %>?_method=DELETE" method="post">
           
            <button type="submit">Delete Comment</button>

         </form>
           </div>
        <% } %>
        
    </div>

   <% }) %>

    <form action="/posts/<%= post._id %>/comments" method="post">
        
        <label for="comment">Write Comment: </label>

        <textarea name="comment" id="comment" required></textarea>

        <button type="submit">Add Comment</button>
    </form>
    </main>

       <%- include('../partials/_footer.ejs') %>

    
</body>
</html>